<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts3-3" data-rv-view="30" style="background-color: rgb(60, 60, 60);">
    <div class="mbr-section__container container">
        <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 45px; padding-bottom: 45px;">
            
            <div class="col-md-3">
                <p class="mbr-contacts__text"><strong>ADDRESS</strong><br>
                    1234 Street Name<br>
                    City, AA 99999<br><br>
                    <strong>CONTACTS</strong><br>
                    Email: support@lobster.com.ng<br>
                    Phone: +1 (0) 000 0000 001<br>
                    Fax: +1 (0) 000 0000 002
                </p>
            </div>

            <div class="col-md-3">
                <p class="mbr-contacts__text">
                    <strong>OUR COMPANY</strong>
                </p>

                <ul class="mbr-contacts__list">
                    <li>
                        <a class="text-gray" href="">
                        About us
                        </a>
                    </li>
                    <li>
                        <a class="text-gray" href="">
                        Blog
                        </a>
                    </li>
                    <li>
                        <a class="text-gray" href="">
                        Press
                        </a>
                    </li>
                    <li>
                        <a class="text-gray" href="">
                        Become a Partner
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <p class="mbr-contacts__text">
                    <strong>SUPPORT</strong>
                </p>

                <ul class="mbr-contacts__list">
                    <li>
                        <a class="text-gray" href="">
                        FAQ
                        </a>
                    </li>
                    <li>
                        <a class="text-gray" href="">
                        Know Your Rights
                        </a>
                    </li>
                    <li>
                        <a class="text-gray" href="">
                        Contact us
                        </a>
                    </li>
                    <li>
                        <a class="text-gray" href="">
                        Price List
                        </a>
                    </li>
                </ul>
            </div>

            
            <div class="col-md-3">
                <div class="mbr-contacts__column" data-form-type="formoid">
                    <div data-form-alert="true">
                        <div class="hide" data-form-alert-success="true">Thanks for filling out form!</div>
                    </div>
                    <form action="https://mobirise.com/" method="post" data-form-title="MESSAGE">
                        <input type="hidden" value="r7COsMkpAyenZJgt/2WjaF7dl9iF4BID6g9yPeaaR4f8r6HKkxDVHNMBQA9XVjooDV7kN6c5s271lgha8/pRgUZ2V/aPrjRBexV74QGFNlbPjmkUz6WsvHdK6Ixm0/qZ" data-form-email="true">
                        <div class="form-group">
                            <input type="email" class="form-control input-sm input-inverse" name="email" required="" placeholder="Email*" data-form-field="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control input-sm input-inverse" name="message" rows="4" placeholder="Message" data-form-field="Message"></textarea>
                        </div>
                        <div class="mbr-buttons mbr-buttons--right btn-inverse">
                            <button type="submit" class="mbr-buttons__btn btn btn-red">CONTACT US</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-4" data-rv-view="39" style="background-color: rgb(68, 68, 68);">
    <div class="mbr-section__container container">
        <div class="mbr-footer mbr-footer--wysiwyg row" style="padding-top: 36.9px; padding-bottom: 36.9px;">
            <div class="col-sm-12">
                <p class="mbr-footer__copyright">Copyright (c) @DateTime.Now.Year Lobster. <a class="mbr-footer__link text-gray" href="">Terms of Use</a>  | <a class="mbr-footer__link text-gray" href="">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>