<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="form2-5" data-rv-view="24" style="background-color: rgb(239, 239, 239);">
    
    <div class="mbr-section__container mbr-section__container--sm-padding container" style="padding-top: 40.8px; padding-bottom: 40.8px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text">SUBSCRIBE TO OUR NEWSLETTER</h2>
                        </div>
                        <div data-form-alert="true">
                            <div class="hide" data-form-alert-success="true">Thanks for filling out form!</div>
                        </div>
                        <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="SUBSCRIBE TO OUR NEWSLETTER">
                            <input type="hidden" value="4ExB3V0rsSBdwM4Ap5Y7CXdYID6Ow/4ldRbHP3W/xnzo2YBCCptrbnlxQkjkCVN4GXwo0Gw6PdBMlrlrDu1HI8w4IfvpRR9UjN95I84rUJFkHIijz/dkT1oSOI7o4zGU" data-form-email="true">
                            <div class="mbr-form__left">
                                <input type="email" class="form-control" name="email" required="" placeholder="Enter Your Email Address..." data-form-field="Email">
                            </div>
                            <div class="mbr-form__right mbr-buttons mbr-buttons--no-offset mbr-buttons--right">
                                <button type="submit" class="mbr-buttons__btn btn btn-lg btn-red">SUBSCRIBE</button>
                            </div>
                            
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
