<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="testimonials1-6" data-rv-view="11" style="background-color: rgb(255, 255, 255);">
    <div>
        
        <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mbr-section__header">WHAT OUR FANTASTIC USERS SAY</h2>
                    <ul class="mbr-reviews mbr-reviews--wysiwyg row">
                        <li class="mbr-reviews__item col-xs-12 col-sm-6 col-md-4">
                            <div class="mbr-reviews__text"><p class="mbr-reviews__p">“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
                            <div class="mbr-reviews__author mbr-reviews__author--short">
                                <div class="mbr-reviews__author-name">ABANOUB S.</div>
                                <div class="mbr-reviews__author-bio">User</div>
                            </div>
                        </li><li class="mbr-reviews__item col-xs-12 col-sm-6 col-md-4">
                            <div class="mbr-reviews__text"><p class="mbr-reviews__p">“First of all hands off to you guys for your effort and nice, super tool. Good work mobirise team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p></div>
                            <div class="mbr-reviews__author mbr-reviews__author--short">
                                <div class="mbr-reviews__author-name">SUFFIAN A.</div>
                                <div class="mbr-reviews__author-bio">User</div>
                            </div>
                        </li><li class="mbr-reviews__item col-xs-12 col-sm-6 col-md-4">
                            <div class="mbr-reviews__text"><p class="mbr-reviews__p">“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p></div>
                            <div class="mbr-reviews__author mbr-reviews__author--short">
                                <div class="mbr-reviews__author-name">JHOLLMAN C.</div>
                                <div class="mbr-reviews__author-bio">User</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>