﻿body {
    font-family: 'Roboto', sans-serif;
    color: #536273;
}

.btn-red {
    background: #8a0a08;
    color: #fff;
    border-color: #8a0a08;
}

.btn-tr {
    background: transparent;
}

a.btn:hover {
    color: #2dcedb;
}

.mbr-hero__text {
    color: #536273;
}

.mbr-hero__subtext {
    color: #768493;
}


/** Navbar **/

#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
    background: #e06e42;
}

#ext_menu-0.mbr-navbar--stuck a {
    color: #fff;
}

#home-intro .mbr-overlay {
    opacity: 0.3 !important;
}

.section-alt {
    background: #e06e42;
    color: #fff;
}

.section-alt p {
    color: #fff;
}

#pickForm .btn {
    height: 50px;
}