<section id="home-intro" class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header4-1" data-rv-view="2">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-center mbr-after-navbar">
        
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-center">
                <div class="row"><div class=" col-sm-8 col-sm-offset-2">
                    <div class="mbr-hero animated fadeInUp">
                        <h1 class="mbr-hero__text">WELCOME TO LOBSTER</h1>
                        <p class="mbr-hero__subtext">Fight back and claim compensation for breach of your right</p>
                    </div>
                    <div>
                        <form class="form-inline" id="pickForm">
                            <div class="form-group">
                                <select class="selectpicker" data-style="">
                                    <option>Chose One</option>
                                    <option>Sexual harrassment</option>
                                    <option>Unlawful termination of contract</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info btn-red">Go!</button>
                        </form>
                    </div>
                </div></div>
            </div></div>
        </div>
        
    </div>
</section>